@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --bg-black:#12101D;
    --bg-primary:#5469C9;
    --bg-secondary:#6c757d;
    --bg-ligth:#ececec;

    --bg-done:#91b4a4;
    --bg-done-x:#5d8a76;

    --bg-info: #ffdb9b;
    --bg-info-x: #ffa502;

    --bg-danger:#e9828a;
    --bg-danger-x:#ce4450;


    /*tamaños y medidas*/

    --nav-size:60px;
    --sidebar-size: 300px;
    --sidebar-size-active: -300px;
    
}


html{
    scroll-behavior: smooth;
}

*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}


/*background-color*/
.bg-ligth{
    background-color: var(--bg-ligth);
}
.bg-danger{
    background-color: var(--bg-danger-x);
}

.bg-black{
    background-color: var(--bg-black);
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: var(--nav-size);
    background: var(--bg-black);
    color: white;

    padding-left: 25px;
    padding-right: 25px;

}
.nav-title{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}





.nav-btn{
    padding: .25rem .75rem;
    font-size: 2rem;
    line-height: 1;
    background-color: white;
    border: 1px solid black;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;

    cursor: pointer;
}

.nav-list{
    display: flex;
    gap: 20px;
}

.btn-hiden{
    display: none;
}

@media (max-width: 700px) {
    .btn-hiden{
        display: block;
    }
    
    .nav-list{
        display: none;
    }
  }

.sidebar-fixed{
    position: fixed;
    background: white;
    min-width: var(--sidebar-size);
    max-width: var(--sidebar-size);
    height: 100vh;
    height: calc(100vh - var(--nav-size));
    transition: all 0.3s;
    padding: 20px;
    z-index: 99;
    left: -300px;
}
.sidebar-fixed.active{
    left: 0;
    z-index: 99;
}



.sidebar{
    color: white;
    background: var(--bg-black);
    min-width: var(--sidebar-size);
    max-width: var(--sidebar-size);
    height: 100vh;
    height: calc(100vh - var(--nav-size));
    transition: all 0.3s;
    padding: 20px;
}

.sidebar.active{
    margin-left: var(--sidebar-size-active);
    overflow-y:hidden;
}

.wrapper{
    display: flex;
    
}

@media (max-width: 580px) {
    .sidebar {
      margin-left: var(--sidebar-size-active);
    }
  
    .sidebar.active {
      margin-left: 0;
    }
  }


.foto-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;    
}
.foto-perfil p{
    margin: 0 auto;
    line-height: 2rem;
    font-size: large;
    font-weight: bold;
    letter-spacing: 3px;
}

.foto-perfil img{
    width:200px;
    height:200px;
    border-radius:50%;
    border:2px solid white;
    object-fit: cover;
    
}

.menu{
    overflow-y: scroll !important;
    /* las didas del 370 es la suma del nav y del la cabezera de las fotos mas una tolerancia*/
    height: calc(100vh - 370px);
}

.menu li {
    font-size: large;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 15px;
    padding: .25rem .60rem;
}

.menu li:hover{
    background-color: var(--bg-primary);
    border-radius: 20px;
    cursor: pointer;
}


.contenido-panel{
    width: 100vw;
    overflow-x: hidden;
    
    height: calc(100vh - var(--nav-size));
    overflow-y: scroll ;
    padding: 20px;
}

.mb{
    margin-bottom: 10px !important;
}
.mb-x{
    margin-bottom: 20px;
}
.mt{
    margin-top: 10px;
}

.mt-30{
    margin-top: 30px !important;
}

.separador{
    height: 5px;
    background-color: var(--bg-primary);
}

.text-center{
    text-align: center;
}



/*Formularios*/

.form{
    padding: 20px;
}

.form input{
    margin-bottom: 10px;
}
.input-tex{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/*::::::::::::::::::::::::::: botones ::::::::::::::::::::::::::::::::::::::*/

.btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: bold;
    letter-spacing: 1.3px;
}

.btn-primary{
    background-color: var(--bg-primary);
    color: white;
    width: 100%;
}

.btn-secondary{
    background-color: var(--bg-secondary);
    color: white;
    width: 100%;
}

.btn-info{
    background-color: var(--bg-secondary);
    color: white;
    width: 100%;
}

.btn-dark{
    background-color: black;
    color:white;
}

/*::::::::::::::::::::::::::: spiner ::::::::::::::::::::::::::::::::::::::*/

.spinner{
    border: 4px solid rgba(0, 0, 0, .1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left-color: #5469C9;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*::::::::::::::::::::::::::: div loader spinner ::::::::::::::::::::::::::::::::::::::*/
.cont-loader{
    position: relative;
}
.loader{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:rgba(0,0,0,0.3);
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
}

.loader.active{
    display: flex;
}

/*::::::::::::::::::::::::::: menu card::::::::::::::::::::::::::::::::::::::*/
.card-btn{
    position: absolute;
    top : 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px lightgray;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-card-danger{
    background-color: var(--bg-danger-x);
    border-color: #f5c2c7;
}

.card-btn i{
    font-size: 30px;
}
.card-menu{
    padding: 15px;
    position: absolute;
    top : 55px;
    right: 15px;
    background: white;
    border-radius: 5px;

    transform: scale(0);
    transition: transform .3s;
}

.card-menu.active{
    transform: scale(1);
}

.card-menu ul li{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.card-menu ul li:hover{
    background-color: red;
}


/*::::::::::::::::::::::::::: full pantalla ::::::::::::::::::::::::::::::::::::::*/

.pantalla-carga{
    position: fixed;
    background-color: rgba(0, 0, 0, .3);
    width: 100vw;
    height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;
}

.pantalla-carga.show{
    display: flex;
}


/*::::::::::::::::::::::::::: cards ::::::::::::::::::::::::::::::::::::::*/

.card{
    /*el width para el card depende de cada utilidad que se le de*/  
    border-radius: 10px;
    position: relative;
    
}

.card-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card-title{
    position: absolute;
    bottom: 8px;
    left: 0px;
    border-radius: 0px 0px 10px 10px;
    background-color:rgba(0,0,0,0.7);
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    color: white;
    
}

.card-body{
    padding: 10px;
}


.h-card{
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: solid 1px gainsboro;
}
.h-card img{
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}


@media (min-width: 1000px) {
    .h-card{
        max-height: 200px;
    }

    .h-card img{
        height: 200px;
    }
  }



/*::::::::::::::::::::::::::: modal ::::::::::::::::::::::::::::::::::::::*/
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;

    transform: scale(0);
    transition: transform .3s;

    background-color: rgba(white, white, white, 0.1);
    backdrop-filter: blur(20px);
    border: solid 10px rgba(white, white, white, 0.5);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    z-index: 9;

}

.modal_show{
    transform: scale(1);
}

.modal_cont{
    background: white;
    width: 95%;
    border-radius: 10px;
}

.modal_band{
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--bg-black);
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.modal_contenido{
    padding: 20px;
}

.modal_close{
    color: white;
    font-size: 30px;
}

/*::::::::::::::::::::::::::: layout ::::::::::::::::::::::::::::::::::::::*/
.centrado{
    display: grid;
    justify-content: center;
    align-items: center;

}

.scroll-x{
    
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding: 10px;
    
}

.scroll-x::-webkit-scrollbar{
    height: 7px;
}

.scroll-x::-webkit-scrollbar-thumb{
    background: rgb(180, 180, 180);
    border-radius: 5px;
}


.scroll-y::-webkit-scrollbar{
    height: 7px;
}

.scroll-y::-webkit-scrollbar-thumb{
    background: rgb(180, 180, 180);
    border-radius: 5px;
}

.col{
    padding: 10px;
    columns: 5 120px;
}
.col-2{
    columns: 2 250px;
}

.col-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.col-flex-nowrap{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.colums-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.col-2-break{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.col-1-2-break{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
}
@media (max-width: 900px) {
    .col-2-break{
        grid-template-columns: 1fr;
    }

    .col-1-2-break{
        grid-template-columns: 1fr;
    }
  }

  @media (max-width: 1300px) {
    .col-flex-nowrap{
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
  }




/*slider*/

.slider{
    display: flex;
    height: 300px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.slider img{
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
    border-radius: 10px;
}



@media (min-width: 1000px) {
    .contenedor{    
        margin-left: 5%;
        margin-right: 5% ;
    }
  }



.selector{
    background-color: white;
    border: none;
    text-align: right;
    padding-right: 15px;
}



/*parches de estilos*/

a{
    color: white;
    display: block;
}   

hr{
    margin-bottom: 20px;
}

/*estilos piteros que no perteneces a los componentes*/

.border{
    border: solid 1px gray;
    border-radius: 5px;
    padding: 10px;
}
.p-1{
    padding: 5px;
}

.miniatura{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.miniatura img{
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.pendiente{
    border-radius: 5px;
    padding: 5px;
    border-left: solid 5px var(--bg-danger-x);
}

.hecho{
    border-radius: 5px;
    padding: 5px;
    border-left: solid 5px var(--bg-done-x);
}

.cantidad{
    font-size: 20px;
}

.cantidad select{
    font-size: 20px;
}

.baner img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.shadow{
    padding: 5px;
    box-shadow: 3px 3px 5px #999;
    border-radius: 5px;
}


.pointer{
    cursor: pointer;
}

/*alerts*/
.alert{

    border-radius: 5px;
    padding: 20px 40px;
    max-width: 420px;

    position: fixed;
    right: 0px;
    top: 10px;

    font-size: 20px;
    font-weight: bold;


    opacity: 0;
    pointer-events: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.alert.showalert{
    opacity: 1;
    pointer-events: auto;
}


.alert.show{
    animation: show_slide 1s ease forwards;
}

.alert.done{
    background-color: var(--bg-done);
    border-left: 5px solid var(--bg-done-x);
}
.alert.danger{
    background-color: var(--bg-danger);
    border-left: 5px solid var(--bg-danger-x);
}

.alert.info{
    background-color: var(--bg-info);
    border-left: 5px solid var(--bg-info-x);
}

.alert-icon{
    font-size: 40px;
    color: white;
    font-weight: bold;
}

@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10%);
    }
}

.alert.hide{
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0%{
        transform: translateX(-10%);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}


.w-25{
    width: 25%;
    word-break: break-alls;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
}

.full-center{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 30px;
}



.flag{
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transform: scale(1);
    transition: transform .3s;
}


.flag-danger{
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}


/*diseñando la landing page*/

.haz-click{
    color: steelblue;
    display: inline;
    border-bottom: solid 1px gray ;
}

.cont-main{
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 100vh;
    padding: 30px;
}


.fondo{
    background-color: rgba(255, 255, 255,0.4);
    padding: 15px;
    border-radius: 5px;
}



.link-btn{
    color: white;
    background: black;
    padding: 12px 16px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.link{
    color:black
}


.link-item{
    margin-top: 30px;   
}

.right{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
}


.top{
    margin-top: 50px;
}

.text-right{
    text-align: right;
}


.cont{
    margin: 50px;
}



/*estilos del horario*/
.btn-cerrar{
    font-size: 30px;
    font-weight: bold;
    color: var(--bg-danger-x);
    cursor: pointer;
    border-radius: 50%;
}

.border-danger{
    border: solid 1px red;
}

.img{
    width: 100%;
    object-fit: cover;
    max-height: 400px;
    border-radius: 5px ;
}
.img-auto{
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 5px;
}

.img-just{
    width: 100%;
    height: 100%;
    max-height: 350px;
}

.mt-100{
    margin-top: 100px;
}

.mt{
    margin-top: 30px !important;
}

.rounded{
    border-radius: 5px;
}

.ajuste{
    overflow-y: hidden;
}

.cont-flayer{
    width: 100%;
    height: 200px;
}

.cont-flayer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.footer{
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    border: solid 1px lightgray;
    padding: 20px;
}

.footer a{
    color: black;

    font-size: 50px;
}
.footer p{
    font-size: 20px;
}

.color-face{
    color: #4267b2;
}

.color-insta{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-radius: 50%;
    padding: 5px;
    font-size: 43px !important;
    color: white;
}

.color-tel{
    color: #0c8e42;
}

.color-map{
    color: red;
}

.cont-footer{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--nav-size));
}
.cont-footer footer{
    margin-top:auto ;
}

/* para el index de menu basicamente algo de shit*/
.fondo1{
    background-color: #f2f2f2;
}

.hero{
    width: 100%;
    height: calc(100vh - var(--nav-size));
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
}

.hero_picture{
    margin-bottom: 1em;
}

.hero_img{
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.hero_texts{
    flex-basis: 40%;
}

.hero_p{
    line-height: 1.5;
    font-weight: 300;
    padding: .7em 0;
}



@media (min-width: 800px) {
    .hero{
        flex-direction: row;
        align-items: center;
    }
    .hero_title{
        font-size: 3rem;
    }

    .hero_picture{
        flex-grow: 1;
    }

    .order{
        order: 1;
    }

    .hero_img{
        max-width: none;
    }
}


.icon_menu{
    color: white;
    border-radius: 50%;
    background-color: var(--bg-primary);
    font-size: 30px;
    padding: 10px;
}

.hero_texts ul li{
    font-size: 25px;
    line-height: 2px;
}
.top{
    margin-top: 30px;
    
}

.bottom{
    margin-bottom: 50px;
}

.footer-index{
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-index a{
    width: 50%;
}



