<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favicon-->
    <link rel="icon" href="{{url_for('static', filename = 'img/favicon.png')}}" type="image/png" />
    <!--icons box-icons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!--my styles-->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
    <title>Menu zapotlán</title>
</head>

<body>
    <nav class="nav nav-bar">
        <div class="nav-title">
            <h1>menu zapotlán</h1>
        </div>

        <div class="">
            <ul class="nav-list">
                <a href="/usuarios/registro">
                    <li>Empresa</li>
                </a>
                <a href="/clientes/login">
                    <li>Iniciar sesion</li>
                </a>
                
                <a href="/clientes/registro">
                    <li>Regístrate</li>
                </a>
                
            </ul>
        </div>

        <div class="btn-hiden">
            <button onclick="sidebar_toggle()" class="nav-btn">
                <i class='bx bx-menu'></i>
            </button>
        </div>
    </nav>

    <div class="sidebar-fixed">

        <div>
            <a class="link-btn" href="/clientes/login"> Inicia sessión</a>

            <ul class="mb mt">
                
                <a class="link" href="/usuarios/login">
                    <li class="link-item"> Administra tu negocio</li>
                </a>

                <a class="link" href="/usuarios/registro">
                    <li class="link-item"> Crea una cuenta de tu negocio</li>
                </a>
                
                <a class="link" href="https://api.whatsapp.com/message/O63CVCMHCMN6E1">
                    <li class="link-item"> Regístrate para realizar entregas</li>
                </a>
                
            </ul>
        </div>
    </div>

    <div class="cont">
        <div class="col-2-break">
            <div class="mb container">
                <div>
                    <h2 class="mb">Ordena comida de restaurantes locales y recibe en minutos.</h2>
                    <p class="mt">Somos la App de Entregas a Domicilio 100% de Zapotlán.
                        Nos encanta la comida al igual que a ti y queremos que la disfrutes como si tu mismo fueras por ella. 
                        Claro, desde la comodidad de tu hogar. Nosotros nos encargamos del resto.</p>
                </div>
            </div>
            <img class="mt img-just" src="{{url_for('static', filename = 'img/lan-1.svg')}}"  alt="">
        </div>


        <div class="col-2-break mt-100">
            <img class="mt img-just" src="{{url_for('static', filename = 'img/lan-3.svg')}}"  alt="">

            <div class="mb container">
                <div>
                    <h2 class="mb">Comienza a utilizar nuestra app </h2>
                    <p class="mt mb">No necesitas descargar nada, puedes acceder a
                         tu cuenta desde cualquier dispositivo solo haz <a class="haz-click" href="/clientes/registro">click aquí </a>
                         y cambia la forma de ordenar comida a domicilio  </p>
                    <a class="btn btn-dark mt" href="/clientes/login">Iniciar sesión  </a>
                </div>
            </div>
        </div>


        <div class="col-2-break mt-100">
            <div class="mb container">
                <div>
                    <h2 class="mb">¿Quieres vender tus productos en Menu Zapotlán?</h2>
                    <p class="mt mb">Haz que tus clientes tengan una mejor experiencia y vende tus productos en toda la ciudad sin invertir en logística.</p>
                    <a class="btn btn-dark mt" href="/usuarios/registro">Quiero empezar a vender </a>
                </div>
            </div>
            <img class="mt img-just" src="{{url_for('static', filename = 'img/lan-2.svg')}}"  alt="">
        </div>



    </div>



  








</body>

<script src="{{url_for('static', filename = 'js/styles.js')}}"></script>

</html>