<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favicon-->
    <link rel="icon" href="{{url_for('static', filename = 'img/favicon.png')}}" type="image/png" />
    <!--icons box-icons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!--my styles-->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
    <title>Menu zapotlán</title>
</head>

<body>
    <nav class="nav nav-bar">
        <div class="nav-title">
            <img src="{{url_for('static', filename = 'img/favicon.png')}}" width="30" height="30">
            <h1>menu zapotlán</h1>
        </div>

        <div class="">
            <ul class="nav-list">
                <a href="/usuarios/registro">
                    <li>Empresa</li>
                </a>
                <a href="/clientes/login">
                    <li>Iniciar sesión </li>
                </a>
                
                <a href="/clientes/registro">
                    <li>Regístrate</li>
                </a>
                
            </ul>
        </div>

        <div class="btn-hiden">
            <button onclick="sidebar_toggle()" class="nav-btn">
                <i class='bx bx-menu'></i>
            </button>
        </div>
    </nav>

    <div class="sidebar-fixed">

        <div>
            <a class="link-btn" href="/clientes/login"> Inicia sessión</a>

            <ul class="mb mt">
                
                <a class="link" href="/usuarios/login">
                    <li class="link-item"> Administra tu negocio</li>
                </a>

                <a class="link" href="/usuarios/registro">
                    <li class="link-item"> Crea una cuenta de tu negocio</li>
                </a>
                
                <a class="link" href="https://api.whatsapp.com/message/O63CVCMHCMN6E1">
                    <li class="link-item"> Regístrate para realizar entregas</li>
                </a>
                
            </ul>
        </div>
    </div>

    <div class="hero">
        <div class="hero_picture order">
            <img class="hero_img" src="{{url_for('static', filename = 'img/f4.svg')}}" alt="">
        </div>

        <div class="hero_texts">
            <h1 class="hero_title">Ordena comida de restaurantes locales y recibe en minutos.</h1>

            <p class="hero_p">
                cambia la forma de ordenar comida a domicilio
            </p>
            <a class="hero_cta btn btn-dark w-100"  href="/clientes/login"> Iniciar sesión  </a>
            <br><br>
            <a class="haz-click" href="/menu">Registrar mi negocio</a>
            
        </div>
    </div>




    
  








</body>

<script src="{{url_for('static', filename = 'js/styles.js')}}"></script>

</html>