<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favicon-->
    <link rel="icon" href="{{url_for('static', filename = 'img/favicon.png')}}" type="image/png" />
    <!--icons box-icons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!--my styles-->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
    <title>Menú Zapotlán</title>
</head>

<body>


    <div class="pantalla-carga">
        <div class="spinner"></div>
    </div>


    <nav class="nav">
        <div>
            <h1>menu zapotlan</h1>
        </div>
        <div>
            <button class="nav-btn">
                <i class='bx bx-menu'></i>
            </button>
        </div>
    </nav>

    <section class="wrapper">

        <div class="sidebar">
            <div class="foto-perfil">
                <img id="sidebar_img" src="" alt="foto perfil">
                <p id="sidebar_name">Jesus Adonai</p>
            </div>
            <hr>

            <div>
                <ul class="menu">
                    <li>
                        <a href="/dashboard">
                            <i class='bx bx-home'></i>
                            Inicio
                        </a>

                    </li>

                    <li>
                        <a href="/dashboard/pedidos">
                            <i class='bx bx-download'></i>
                            Pedidos
                        </a>

                    </li>

                    <li>
                        <a href="/dashboard/perfil">
                            <i class='bx bx-store'></i>
                            Perfil
                        </a>

                    </li>



                    <li>
                        <a href="/dashboard/qr">
                            <i class='bx bx-qr-scan'></i>
                            Codigos QR
                        </a>

                    </li>


                    <li>
                        <a href="/usuarios/logout">
                            <i class='bx bx-log-out'></i>
                            Salir
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="contenido-panel ">

            {% block contenido %}

            {% endblock contenido %}

        </div>

    </section>


    <!--my scripts-->

    <script src="{{url_for('static', filename = 'js/sidebar.js')}}"></script>
    <script>
        //armando la info del sidebar
        sidebar_get_vendedor();
    </script>

    <script src="{{url_for('static', filename = 'js/styles.js')}}"></script>

    {% block scripts %}

    {% endblock scripts %}
</body>

</html>