{% extends 'vendedores/base.html' %}

{% block contenido %}

    <h1>Pedido</h1>
    <hr class="separador">
    <div class="container">

        {% for i in pedido.productos  %}
            <div class="h-card mb">
                <img src="{{i.foto_producto}}" alt="">
                <div>
                    <h4>{{i['nombre_producto']}} </h4>
                    <p>Cantidad: {{i['cantidad']}}</p>
                </div>
            </div>
        {% endfor %}


        <div class="mb">
            <p class="mt mb">Nota: {{pedido['nota']}}</p>
            <p>Total: ${{pedido['total']}}</p>

            {% if pedido['estado_compra'] == 'pendiente' %}
                <p class="mt mb pendiente">{{pedido['estado_compra']}}</p>
            {% else %}
                <p class="mt mb hecho">{{pedido['estado_compra']}}</p>
            {% endif %}
        </div>
    
        <div class="card">
            <div class="card-body">
                <h4 class="mb">Datos del cliente</h4>
                <p>Nombre: {{pedido['nombre_cliente']}}</p>
                <p>Telefono: {{pedido['telefono_cliente']}}</p>
                <p>Domicilio: {{pedido['domicilio_cliente']}}</p>
            </div>
        </div>

        <div class="mt">
    
            {% if pedido['estado_compra'] == 'pendiente' %}
                <a href="/dashboard/pedido/done/{{pedido['_id']}}" class="btn btn-primary mb">Terminar pedido</a>
            {% else %}
                <a href="/dashboard/pedidos" class="btn btn-secondary mb">Ir a pedidos</a>
            {% endif %}
            
        </div>
    </div>
{% endblock contenido %}