<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/pupi.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/custom.css')}}">
    <title>documento no encontradot</title>
</head>
<body class="pupi-bg-depblue">
    <div class="pupi-cont-center tc"> 
        <img class="img-fluid" src="{{url_for('static', filename = 'img/404.png')}}" alt="">
        <h1>Oh no! pagina no encontrada</h1>
        
        <a href="/menu">Regresar a la normalidad</a>
    </div>

</html>