{% extends 'base.html' %}

{% block contenido %}
<main class="pupi-bg-naval full pupi-cont-center">
    <div class="bg-white  rounded ">

        <!--msj de error-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger alert-dismissible fade show " role="alert">
            <strong>Oh no! </strong>
            {% for message in messages %}
            {{message}}

            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endwith %}



        <div class="row p-5 m-0">

            <div class="col pupi-bord my-auto">
                <h1 class="text-center ">Recuperar contraseña</h1>
                <form action="/usuarios/password" method="POST" class="">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo Electronico</label>
                        <input name="email" type="email" class="form-control" placeholder="juanita@gmail.com">
                        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico
                            con nadie más.</small>
                    </div>

                    <button type="submit" class="btn pupi-bg-naval text-white w-100">Recuperar mi contraseña</button>

                    <div class="mt-2">
                        <small><a href="/usuarios/login" class="d-block text-dark">Cancelar e iniciar sesión</a></small>
                    </div>

                </form>
            </div>

            <div class="col d-none d-md-flex">
                <img class="img-fluid w-75 mx-auto" src="{{url_for('static', filename = 'img/mail.svg')}}" alt="">
            </div>

        </div>
    </div>
</main>
{% endblock contenido %}