{% extends 'base.html' %}
{% block contenido %}
<div class="pupi-bg-noche" style="height: 100%;">
    <div class="container pt-5 " >
        <h1 class="text-center text-white">Términos y Condiciones de uso </h1>


        <div class="card shadow p-2 m-3">
            <p>
                Esta es una aplicación pensada para ser lo más practica posible, probablemente usted o su negocio
                requieran
                una
                aplicación más personalizada, de ser así contáctese con nosotros para generarle una solución lo más
                rápido
                posible
            </p>
        </div>

        <div class="card shadow p-2 m-3">
            <p>El usuario tiene la obligación de reportar fallos en la aplicación, pero estos pueden llevar algo de
                tiempo
                en
                resolverlos, como se trata de una aplicación beta esto puede llegar a pasar muy a menudo, daremos
                importancia a
                los fallos que consideremos más graves y de requerir una solución más personalizada el usuario deberá
                comunicarse a soporte técnico y pedir la ayuda necearía, esto puede derivar en un costo según se vea
                conveniente
            </p>
        </div>

        <div class="card shadow p-2 m-3">
            <p>Todo el contenido que el usuario comparta es enteramente responsabilidad del usuario </p>
        </div>

        <div class="card shadow p-2 m-3">
            <p>La aplicación ‘Menú’ es una aplicación en fase ‘Beta’ por lo cual muy probablemente se ve sujeta a
                cambios de
                diseño o funcionamiento, esto puede acarrear varios problemas para usted como usuario como perdida de
                información o eliminación parcial de su cuenta </p>
        </div>

        <div class="card shadow p-2 m-3">
            <p>No nos hacemos responsables por posibles difamaciones a negocios, nosotros entendemos que el usuario es
                dueño
                del
                negocio que se registra en nuestra aplicación, de no ser así el dueño del negocio debe de comunicarse
                con
                nosotros y posterior mente daremos de baja parcialmente la cuenta y entregaremos todos los datos del
                usuario
                que
                intento hacer la difamación </p>
        </div>

        <div class="card shadow p-2 m-3">
            <p>Toda la información proporcionada por el usuario podrá ser utilizada por nosotros para el futuro
                desarrollo
                de
                aplicaciones </p>
        </div>

        <div class="card shadow p-2 m-3">
            <p>Acepta recibir correos electrónicos con futuras mejoras o cambios que habrá en la plataforma, así como
                futuros
                desarrollos </p>
        </div>

        <div class="card shadow p-2 m-3">
            <p>En caso de hacer un uso inapropiado de nuestra plataforma se procederá a inhabilitar la cuenta y de ser
                necesario
                se expondrá la información del usuario a las autoridades </p>
        </div>

        <div class="card shadow p-2 m-3">
            <p>Estas políticas pueden cambiar a lo largo del tiempo, usted será notificado cuando exista un cambio, pero
                le
                recomendamos siempre estar enterado de nuestros términos y condiciones </p>
        </div>
    </div>
</div>

{% endblock contenido %}