{% extends 'clientes/base.html' %}

{% block contenido %}


    <div class="centrado mb">
        <input type="text" id="buscador" class="input-tex" placeholder="Busca tu comida favorita &#128270;">
        
    </div>
    <div class="col mb" id="cont_buscador">
        <!--esperando resultados de js-->
    </div>

    <h1 class="mb">Favoritos</h1>

    <div class="scroll-x mb">

        {% for x in favoritos  %}
        <a href="/panel/producto/{{x['id']}}">
            <div class="card" style="min-width: 250px;">
                <img class="card-img" src="{{x['foto']}}" alt="">
                <p class="card-title">{{x['nombre']}}</p>
            </div>
        </a>

        {% endfor %}


    </div>

    <h1 class="mb">Restaurantes más populares</h1>

    <div id="render_rest" class="col">
        <!--Esperando data de js-->
    </div>


    



{% endblock contenido %}

{% block scripts %}

<!--Axios-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!--my js-->
<script src="{{url_for('static', filename = 'js/render.js')}}"></script>

<script>
    // la funcion 'render_restaurantes' almacena en un arreglo los valores de los restaurantes
    // lo hago asi porqu soy noob
    render_restaurantes()

    get_productos()

    const buscador = document.querySelector('#buscador')
    const cont_buscador = document.querySelector('#cont_buscador')

    buscador.addEventListener('keyup', filtro_productos)


</script>

{% endblock scripts %}