{% extends 'base.html' %}

{% block contenido %}
<main class="pupi-bg-naval full pupi-cont-center">
    <div class="bg-white  rounded ">


        <div class="alert alert-success alert-dismissible fade show " role="alert">
            <strong>*-* </strong>
            se ha enviado un codigo a tu correo electrónico
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <!--msj de error-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger alert-dismissible fade show " role="alert">
            <strong>Oh no! </strong>
            {% for message in messages %}
            {{message}}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endif %}
        {% endwith %}

        <div class="row p-5 m-0">

            <div class="col pupi-bord my-auto">
                <h1 class="text-center ">Cambiar contraseña</h1>
                <form action="/clientes/restore/password" method="POST" class="">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Ingresa tu codigo de recuperación</label>
                        <input name="codigo" type="text" class="form-control">
                    </div>


                    <div class="form-group">
                        <label for="exampleInputEmail1">Nueva contraseña</label>
                        <input name="password" type="password" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Repetir contraseña</label>
                        <input name="repassword" type="password" class="form-control">
                    </div>

                    <button type="submit" class="btn pupi-bg-naval text-white w-100">Cambiar contraseña</button>

                    <div class="mt-2">
                        <small><a href="/clientes/login" class="d-block text-dark">Cancelar e iniciar sesión</a></small>
                    </div>

                </form>
            </div>

            <div class="col d-none d-md-flex">
                <img class="img-fluid w-75 mx-auto" src="{{url_for('static', filename = 'img/warning.svg')}}" alt="">
            </div>

        </div>
    </div>
</main>
{% endblock contenido %}